<dribehance-header title="'广东快乐10分投注'" back-action="'on'"></dribehance-header>
<div class="game-header">
    <!-- <div class="game-select">
        <select name="game" ng-model="input.game_type" ng-options="type.label for type in game_type"></select>
    </div> -->
    <div class="game-balance">
        <span class="balance">余额</span>
        <span>{{kuaile.balance_money|currency:"￥"}}</span>
    </div>
    <p>
        <span ng-if="!kuaile.day_seconds" class="block refresh-btn" ng-click="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> 点击刷新，看看开奖没有</span>
        <span class="text-white">第 </span>
        <span class="text-primary"> {{kuaile.qishu_next}}</span>
        <span class="text-white">期，距离开奖时间</span>
        <span class="text-primary">
                <timer ng-if="kuaile.day_seconds" max-time-unit="'minute'" interval="1000" countdown="kuaile.day_seconds" finish-callback="callbackTimer.finished()">
                    {{mminutes}}:{{sseconds}}
                </timer>
                <span ng-if="!kuaile.day_seconds">--:--</span>
        </span>
    </p>
    <p>
        <span class="text-white">{{kuaile.Result.GdklsfData.datelinedate}} 第 {{kuaile.Result.GdklsfData.qishu}} 期开奖号码</span>
    </p>
    <p ng-if="kuaile.waiting" class="waiting"><i class="fa fa-clock-o" aria-hidden="true"></i> 第 {{kuaile.qishu_next}} 期正在开奖，请耐心等候...</p>
    <p ng-if="!kuaile.waiting">
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_01}}">{{kuaile.Result.GdklsfData.n_01}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_02}}">{{kuaile.Result.GdklsfData.n_02}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_03}}">{{kuaile.Result.GdklsfData.n_03}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_04}}">{{kuaile.Result.GdklsfData.n_04}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_05}}">{{kuaile.Result.GdklsfData.n_05}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_06}}">{{kuaile.Result.GdklsfData.n_06}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_07}}">{{kuaile.Result.GdklsfData.n_07}}</span>
        <span class="game-code kuaile-code-{{kuaile.Result.GdklsfData.n_08}}">{{kuaile.Result.GdklsfData.n_08}}</span>
    </p>
</div>
<div class="flex-item flex-box">
    <div class="left-panel scroll-view">
        <div scroll class="scroll-content">
            <label class="game-type-item" for="game-{{type.value}}" ng-class="{'active':type.label == input.game_type.label}" ng-repeat="type in game_type">{{type.label}}
                <input type="radio" class="hidden" ng-model="input.game_type" id="game-{{type.value}}" name="game-{{type.value}}" ng-value="{{type}}">
            </label>
        </div>
    </div>
    <div class="right-panel scroll-view flex-item">
        <div scroll class="scroll-content">
            <div class="game-section" ng-repeat="game in games">
                <div class="game-section-header">
                    {{game.name}}
                </div>
                <div class="game-section-content" ng-class="{'opacity_05':kuaile.waiting}">
                    <div ng-repeat="g in game.oIndexBeans" ng-click="show(g,game)" class="layout-2" ng-class="{'selected':g.betted}" ng-if="input.game_type.value == '1'">
                        <span>{{g.name}} </span>
                        <span class="text-danger"> {{g.rate}}</span>
                        <!-- <span ng-if="g.betted">{{g.betting_money}}元</span> -->
                    </div>
                    <div ng-repeat="g in game.oIndexBeans" ng-click="show(g,game)" class="layout-1" ng-class="{'selected':g.betted}" ng-if="input.game_type.value == '2'">
                        <span class="game-code kuaile-code-{{g.name}}">{{g.name}} </span>
                        <span class="text-danger"> {{g.rate}}</span>
                        <!-- <span ng-if="g.betted">{{g.betting_money}}元</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detail-footer flex-box">
    <div class="flex-box flex-column betting-area">
        <div class="text-white">已投：<span class="text-danger">{{query_betted_count()}}</span>注</div>
        <div><input type="tel" ng-model="input.betting_money" name="betting_money" placeholder="请输入下注金额"></div>
    </div>
    <div class="flex-box flex-item">
        <span class="reset-btn flex-item" ng-click="resetForm()">重置</span>
        <span class="submit-btn flex-item" ng-click="ajaxForm()">提交</span>
    </div>
</div>

