<div class="footer justified">
	<a class="footer-item" ng-href="#/index">
		<i class="icon icon-home" ng-class="{'active':active=='index'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='index'}">娱乐中心</span>
	</a>
	<a class="footer-item" ng-href="#/charge">
		<i class="icon icon-charge" ng-class="{'active':active=='charge'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='charge'}">充值提现</span>
	</a>
	<a class="footer-item" ng-href="#/me">
		<i class="icon icon-me" ng-class="{'active':active=='me'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='me'}">会员中心</span>
	</a>
</div>