<dribehance-header title="'取款'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="me-section">
        <div class="me-section-header">
            <span class="block">账户余额</span>
            <span class="balance">{{constant_info.balance_money|currency:"￥"||"0"}}</span>
            <span>提现的时候，请确提款账号正确无误，如果因账
号填写错误导致的提现失败，平台不负任何责任。提现操作在半小时内到达指定账号。</span>
            <span class="block text-danger">(100元起提)</span>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                
                <div class="game-list-input">
                    <input type="text" name="account" ng-model="input.account" placeholder="提款银行账号">
                </div>
            </div>
            <div class="list-group-item">
                
                <div class="game-list-input">
                    <input type="text" name="bank" ng-model="input.bank_name" placeholder="开户银行名称(如工商银行***支行)">
                </div>
            </div>
            <div class="list-group-item">
                
                <div class="game-list-input">
                    <input type="text" name="pay_account" ng-model="input.pay_account" placeholder="账号对应真实姓名">
                </div>
            </div>
            <div class="list-group-item">
                
                <div class="game-list-input">
                    <input type="tel" name="money" ng-model="input.money" placeholder="提款金额，大于100">
                </div>
            </div>
            <div class="list-group-item">
                
                <div class="game-list-input">
                    <input type="password" name="password" ng-model="input.password" placeholder="提款密码">
                </div>
            </div>
            <div class="logout-btn" ng-click="ajaxForm()">
                提交申请
            </div>
        </div>
    </div>
</div>
