<dribehance-header title="'北京赛车'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="game-header">
    	<div class="game-balance">
    		<span class="block">余额</span>
    		<span>99.00</span>
    	</div>
        <p>
            <span class="text-white">第 </span>
            <span class="text-primary"> 131</span>
            <span class="text-white">距离封盘时间</span>
            <span class="text-primary">00:04:29</span>
        </p>
        <p>
            <span class="text-white">2016-11-10 第130期开奖号码</span>
        </p>
        <p>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        </p>
    </div>
    <div class="game-section">
    	<div class="game-section-header">
    		已投
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    		<div>
    			<span>冠军 单 </span>
    			<span class="text-danger"> 100 元</span>
    		</div>
    	</div>
    	<div class="buy-btn" ng-click="go('fillinorder')">我要投注</div>
    </div>
    <div class="trend-line">
    	<span>近期走势</span>
    </div>
    <div class="trend-list">
    	<div class="trend-list-item">
    		<div class="trend-item-header">2016-01-02</div>
			<div class="trend-item-content">
				<div>
					<span class="trend-time">130期</span> 
					<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
	        	</div>
	        	<div>
	        		冠军和 13，大，单;1-5龙虎 : 虎，龙，虎，龙，龙
	        	</div>
			</div>
    	</div>
    	<div class="trend-list-item">
    		<div class="trend-item-header" ng-if="is_header">2016-01-02</div>
			<div class="trend-item-content">
				<div>
					<span class="trend-time">130期</span> 
					<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
	        	</div>
	        	<div>
	        		冠军和 13，大，单;1-5龙虎 : 虎，龙，虎，龙，龙
	        	</div>
			</div>
    	</div>
    	<div class="trend-list-item">
    		<div class="trend-item-header" ng-if="is_header">2016-01-02</div>
			<div class="trend-item-content">
				<div>
					<span class="trend-time">130期</span> 
					<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
		        	<span class="game-code">2</span>
	        	</div>
	        	<div>
	        		冠军和 13，大，单;1-5龙虎 : 虎，龙，虎，龙，龙
	        	</div>
			</div>
    	</div>
    </div>
</div>
