<dribehance-header title="'注册'" back-action="'on'"></dribehance-header>
<div class="scroll-view flex-item">
    <div scroll class="scroll-content wrap">
        <form class="me-section" name="signinForm" ng-submit="ajaxForm()">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="text" name="nickname" ng-model="input.nickname" placeholder="用户名，数字/英文，不可以修改">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="password" name="password_1" ng-model="input.password_1" placeholder="登录密码">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="password" name="password_2" ng-model="input.password_2" placeholder="确认登录密码">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="text" name="realname" ng-model="input.realname" placeholder="真实姓名，必须与银行账号名称一致，否则不能出款">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="tel" name="telephone" ng-model="input.telephone" placeholder="手机号,用于找回密码">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="password" name="password_3" ng-model="input.password_3" placeholder="提现密码">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="password" name="password_4" ng-model="input.password_4" placeholder="确认提现密码">
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="game-list-input">
                        <input type="text" name="code" ng-model="input.code" placeholder="邀请码，非必填">
                    </div>
                </div>
                <button type="submit" class="logout-btn">注册</button>
            </div>
        </form>
    </div>
</div>
