<dribehance-header title="'六合彩投注'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="game-header">
        <div class="game-select">
            <select name="game" ng-model="input.game_type" ng-options="type.label for type in game_type"></select>
        </div>
        <p>
            <span ng-if="!liuhecai.day_seconds" class="block refresh-btn" ng-click="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> 点击刷新，看看开奖没有</span>
            <span class="text-white">第 </span>
            <span class="text-primary"> {{liuhecai.qishu_next}}</span>
            <span class="text-white">期，距离开奖时间</span>
            <span class="text-primary">
                <timer ng-if="liuhecai.day_seconds" max-time-unit="'minute'" interval="1000" countdown="liuhecai.day_seconds" finish-callback="callbackTimer.finished()">
                    {{mminutes}}:{{sseconds}}
                </timer>
                <span ng-if="!liuhecai.day_seconds">--:--</span>
            </span>
        </p>
        <p>
            <span class="text-white">{{liuhecai.Result.XglhcData.datelinedate}} 第 {{liuhecai.Result.XglhcData.qishu}} 期开奖号码</span>
        </p>
        <p ng-if="liuhecai.waiting" class="waiting"><i class="fa fa-clock-o" aria-hidden="true"></i> 第 {{liuhecai.qishu_next}} 期正在开奖，请耐心等候...</p>
        <p ng-if="!liuhecai.waiting">
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_01}}">{{liuhecai.Result.XglhcData.n_01}}</span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_02}}">{{liuhecai.Result.XglhcData.n_02}}</span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_03}}">{{liuhecai.Result.XglhcData.n_03}}</span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_04}}">{{liuhecai.Result.XglhcData.n_04}}</span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_05}}">{{liuhecai.Result.XglhcData.n_05}}</span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_06}}">{{liuhecai.Result.XglhcData.n_06}}</span>
            <span class="text-white"> + </span>
            <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_07}}">{{liuhecai.Result.XglhcData.n_07}}</span>
        </p>
    </div>
    <!-- <div class="overlay" ng-if="liuhecai.waiting">
        <div class="waiting-btn" ng-click="back()">当前正在开奖，请耐心等候...,点击返回</div>
    </div> -->
    <div class="game-section" ng-repeat="game in games">
        <div class="game-section-header">
            {{game.name}}
        </div>
        <div class="game-section-content" ng-class="{'opacity_05':liuhecai.waiting}">
            <div ng-repeat="g in game.oIndexBeans|filter:{flag:'1'}" ng-click="show(g,game)" ng-class="{'selected':g.betted,'layout-1':input.game_type.value=='1'||input.game_type.value=='2','layout-3':input.game_type.value=='3','layout-4':input.game_type.value=='4'||input.game_type.value=='5'}">
                <span class="game-code liuhecai-code-{{g.name}}" ng-if="input.game_type.value == '1'||input.game_type.value == '2'">{{g.name}} </span>
                <span ng-if="input.game_type.value == '3' || input.game_type.value == '4'||input.game_type.value == '5'">{{g.name}}</span>
                <span class="text-danger"> {{g.rate}}</span>
                <span ng-if="g.betted"> {{g.betting_money}}元</span>
                <div ng-if="input.game_type.value == '3'||input.game_type.value == '4'||input.game_type.value == '5'">
                    <span class="game-code liuhecai-code-{{code}}" ng-repeat="code in parse_code(g.number) track by $index">{{code}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="game-section-content" ng-class="{'opacity_05':liuhecai.waiting}">
            <div ng-repeat="g in game.oIndexBeans|filter:{flag:'2'}" ng-click="show(g,game)" class="layout-2" ng-class="{'selected':g.betted}">
                <span>{{g.name}} </span>
                <span class="text-danger"> {{g.rate}}</span>
                <span ng-if="g.betted">{{g.betting_money}}元</span>
            </div>
        </div>
    </div>
</div>
<div style="height:48px;"></div>
<div class="detail-footer justified">
    <span class="reset-btn" ng-click="resetForm()">重置</span>
    <span class="submit-btn" ng-click="ajaxForm()">提交</span>
</div>
<div class="overlay" ng-if="popup_state == 'open'">
    <div class="popup">
        <div class="close" ng-click="close()"></div>
        <div class="popup-header">
            <span>投注</span><span class="title">{{input.selected_game.name}} {{input.selected_game_cell.name}}</span>
        </div>
        <input type="tel" ng-model="input.betting_money" name="betting_money" placeholder="请输入投注金额">
        <button ng-click="betting()">投注</button>
    </div>
</div>
