<div class="footer justified">
	<a class="footer-item" ng-href="#/index" ng-class="{'active':active=='index'}">
		<i class="icon icon-home" ng-class="{'active':active=='index'}"></i>
		<span class="block">娱乐中心</span>
	</a>
	<a class="footer-item" ng-href="#/charge" ng-class="{'active':active=='charge'}">
		<i class="icon icon-charge" ng-class="{'active':active=='charge'}"></i>
		<span class="block" >充值提现</span>
	</a>
	<a class="footer-item" ng-href="#/me" ng-class="{'active':active=='me'}">
		<i class="icon icon-me" ng-class="{'active':active=='me'}"></i>
		<span class="block">会员中心</span>
	</a>
</div>