<dribehance-header title="'修改密码'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="me-section">
        <div class="list-group">
            <div class="list-group-item">
                <div class="game-list-input">
                    <input type="password" name="password" ng-model="input.password" placeholder="原登录密码">
                </div>
            </div>
            <div class="list-group-item">
                <div class="game-list-input">
                    <input type="password" name="password_1" ng-model="input.password_1" placeholder="新登录密码">
                </div>
            </div>
            <div class="list-group-item">
                <div class="game-list-input">
                    <input type="password" name="password_2" ng-model="input.password_2" placeholder="确认新登录密码">
                </div>
            </div>
            <div class="logout-btn" ng-click="ajaxForm()">
                修改密码
            </div>
            <p style="padding:5px;">
                温馨提示：如果忘记原登录密码，<a ng-href="#/forget" style="color:blue">点击此处找回</a>，若果仍未找回，请联系客服。
            </p>
        </div>
    </div>
</div>
