<dribehance-header title="'我的推荐码'" back-action="'on'"></dribehance-header>
<div class="scroll-view flex-item">
    <div class="scroll-content wrap text-white">
        <div class="text-center">
            {{user.invite_code}} </br>
            将推荐码分享给好友，获得投注返利。
        </div>
        <div class="qrcode">
            <imageview data-rate="1" src="staticImageUrl + constant_info.public_number_qrcode"></imageview>
        </div>
        <div class="text-center">官方唯一公众号，扫码关注</div>
    </div>
</div>
