<dribehance-header title="'推荐人信息列表'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="me-section">
        <div class="me-section-header">
            <span class="block">累计推荐获利</span>
            <span class="balance">{{user.balance_money|currency:"￥"||"0"}}</span>
        </div>
        <div class="recommandors">
            <div class="recommandor-header">
                <div class="recommandor-cell">
                    时间
                </div>
                <div class="recommandor-cell">
                    推荐人
                </div>
            </div>
            <div class="recommandor-row" ng-repeat="recommandor in recommandors">
                <div class="recommandor-cell">
                    {{recommandor.post_time}}
                </div>
                <div class="recommandor-cell">
                    {{recommandor.recommend_telephone}}
                </div>
            </div>
            <div class="wrap text-center" ng-click="loadMore()">{{page.message}}</div>
        </div>
    </div>
</div>
