.justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    >* {
        display: table-cell;
        width: 1%;
        float: none!important;
    }
}

.footer {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    max-width: 480px;
    margin:auto auto;
    // border-top: 1px solid @gray-light;
    font-size: @font-size-small;
    // border-top: 1px solid #fff;
    color: #808080;
    // background-color: #42241f;
    background: fade(white, 40%);
    border-top: 1px solid fade(white, 50%);
    .footer-item {
        padding-top: 2px;
        padding-bottom: 2px;
        &.active{
            background-color: fade(white, 50%);
        }
    }
}

.detail-footer {
    // position: fixed;
    // left: 0;
    // right: 0;
    // bottom: 0;
    position: relative;
    z-index: 1;
    height: 60px;
    // line-height: 60px;
    background-color: fade(black, 39%);
    .reset-btn {
        display: block;
        // border-radius: 5px;
        line-height: 60px;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: @brand-primary;
        -webkit-box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
        -moz-box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
        box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
    }
    .submit-btn {
        display: block;
        // border-radius: 5px;
        line-height: 60px;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: @brand-danger;
        -webkit-box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
        -moz-box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
        box-shadow: inset 0 0 3px rgba(250,250,250,.23),1px 3px 4px rgba(0,0,0,.18);
    }
    .betting-area {
        padding: 5px;
    }
    input {
        .reset-input;
        padding: 5px 8px;
    }
}
