.flex-box {
    display: -webkit-box;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:center;
    &.flex-column {
        flex-direction:column;
        -webkit-flex-direction:column;
    }
    
}
.flex-item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex:1;
}
.scroll-view {
    position: relative;
    .scroll-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        // -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
    }
}
.left-panel {
    width: 90px;
    .box-shadow(1px 0 0 rgba(255,255,255,.48));
    background-color: fade(black, 21%);
    .game-type-item {
        display: block;
        padding: 8px 8px;
        margin: 0;
        font-weight: bold;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 -1px 0 rgba(0,0,0,.23);
        background: rgba(250,250,250,.11);
        &.active {
            color: #fff;
            background-color: fade(black, 23%);
            .box-shadow(inset -1px 3px 7px rgba(0,0,0,.34));
        }
    }
}
.two-grid {
    font-size: 0px;
    text-align: justify;
    > * {
        display: inline-block;
        width: 48%;
        margin-bottom: 15px;
        .box-sizing(border-box);
        font-size: 16px;
        border-radius: 5px;
        background-color: white;
        // color: #3e231f;
    }
    &:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
    .product-meta {
        padding: 5px;
        span:first-child {
            margin-bottom: 5px;
        }
    }
}
.marquee {
    padding: 8px 15px;
    background-color: fade(white, 50%);
    marquee {
        margin-left: 15px;
    }
}
.three-grid {
    // margin-top: 20px;
    padding: 8px;
    font-size: 0px;
    text-align: justify;
    > * {
        display: inline-block;
        width: 32%;
        padding: 16px 2px;
        margin-bottom: 8px;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow:ellipsis;
        .box-sizing(border-box);
        text-align: center;
        font-size: 18px;
        // color: #3e231f;
        border:1px solid fade(white, 50%);
        // background-color: @brand-primary;
        background-color: fade(white, 50%);
        border-radius: 10px;
    }
    &:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
}

.four-grid {
    padding: 15px 15px 0 15px;
    font-size: 0.1px;
    text-align: justify;
    > * {
        display: inline-block;
        text-align: center;
        color: white;
        font-size: 12px;
    }
    &:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
    .game-link {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: @brand-primary;
    }
}

.me-section {
    border-radius: 5px;
    // background-color: #cda462;
    background-color: fade(white, 50%);
    overflow: hidden;
    .me-section-header {
        padding: 15px;
        text-align: center;
        .balance {
            display: block;
            padding: 10px;
            font-size: 24px;
        }
    }
    .list-group {
        margin-bottom: 0;
        .list-group-item {
            padding: 10px 15px;
            // color: #634239;
            // background-color: @brand-primary;
            background-color: transparent;
            // border-color: fade(black, 20%);
            border-radius: 0;
            i {
                color: white;
                line-height: 26px;
            }
        }
        .game-select {
            // float: right;
            // width: 110px;
            position: relative;
            // border-bottom: 1px solid fade(black, 10%);
            // background-color: #d6b577;
            &:before {
                content: "\f107";
                font-family: FontAwesome;
                position: absolute;
                right: 8px;
                top: 10px;
            }
            &:after {
                content: "请充值支付方式：";
                position: absolute;
                left: 8px;
                top: 10px;
                font-weight: bold;
            }
            select {
                width: 100%;
                padding: 10px 10px 10px 140px;
                text-align: left;
                -webkit-appearance: none;
                border: none;
                // background-color: #d6b577;
                background-color: transparent;
                .box-shadow(none);
                .box-sizing(border-box);
            }
        }
    }
    .logout-btn {
        display: block;
        padding: 10px 15px;
        margin: 15px auto;
        width: 80%;
        .box-sizing(border-box);
        .reset-input;
        border-radius: 5px;
        text-align: center;
        // color: #3e231f;
        color: white;
        // background-color: #634239;
        background-color: #4574c1;
        .box-shadow(inset 0 0 3px fade(white,23%));
    }
}

.qrcode {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 15px auto;
}
.qrcode-contact {
    display: block;
    width: 300px;
    margin: 15px auto;
}

.message-section {
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    // background-color: @brand-primary;
    background-color:fade(white, 50%);
    .message-section-content {
        margin-top: 5px;
        color: fade(#3e231f, 50%);
    }
}

.game-header {
    display: block;
    position: relative;
    line-height: 26px;
    margin-bottom: 5px;
    text-align: center;
    .game-balance {
        // float: right;
        // width: 65px;
        padding: 6px 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .balance {
            padding-left: 5px;
            font-weight: bold;
            border-left: 5px solid #3e231f;
        }
        .balance ~ span {
            padding-right: 5px;
            font-weight: bold;
            border-right: 5px solid #3e231f;
        }
    }
    .liuhecai-cell {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        // line-height: 0.7;
    }
    .game-select {
        // float: right;
        // width: 110px;
        position: relative;
        margin-bottom: 15px;
        // border-bottom: 1px solid fade(black, 10%);
        // background-color: #d6b577;
        &:before {
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            right: 8px;
            top: 15px;
        }
        &:after {
            content: "请选择游戏类型：";
            position: absolute;
            left: 8px;
            top: 15px;
            font-weight: bold;
        }
        select {
            width: 100%;
            padding: 15px 15px 15px 140px;
            text-align: left;
            -webkit-appearance: none;
            border: none;
            // background-color: #d6b577;
            background-color: fade(white, 50%);
            .box-shadow(none);
            .box-sizing(border-box);
        }
    }
    .refresh-btn{
        position: absolute;
        display: block;
        padding: 30px 15px;
        top:0;
        left: 15px;
        right: 15px;
        background-color: fade(@brand-primary, 50%);
    }
    p {
        margin:0;
    }
}

.game-code {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 1px;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 100%;
    // background-color: #cda462;
    background-color: fade(white, 50%);
    color: white;
    // border-top: 1px solid fade(white, 20%);
    // border-left: 1px solid fade(white, 20%);
    text-align: center;
    vertical-align: middle;
    .box-shadow(2px 2px 0px fade(black, 50%));
    .box-sizing(border-box);
    // &:before {
    //     content:"";
    //     position: absolute;
    //     display: inline-block;
    //     left: 2px;
    //     top:2px;
    //     width:5px;
    //     height: 5px;
    //     border-radius: 100%;
    //     background-color: fade(white, 10%);
    //     .box-shadow(2px 2px 0px fade(black, 10%));
    // }
    // &:after {
    //     content:"";
    //     position: absolute;
    //     display: inline-block;
    //     top:50%;
    //     left: 50%;
    //     margin-left: -5px;
    //     margin-top: -5px;
    //     width:12px;
    //     height: 12px;
    //     border-radius: 100%;
    //     background-color: fade(white, 10%);
    //     .box-shadow(2px 2px 0px fade(black, 10%));
    // }
    @media (min-width: 360px) {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }
    // .make-feting-code();
    // .make-saiche-code();
    // .make-kuaile-code();
    // .make-liuhecai-code();
    ~ span.text-danger {
        font-weight: bold;
    }
    .make-game-code();
    &.feiting-code-01,&.saiche-code-01,&.feiting-code-1,&.saiche-code-1 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/1.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-02,&.saiche-code-02,&.feiting-code-2,&.saiche-code-2 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/2.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-03,&.saiche-code-03,&.feiting-code-3,&.saiche-code-3 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/3.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-04,&.saiche-code-04,&.feiting-code-4,&.saiche-code-4 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/4.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-05,&.saiche-code-05,&.feiting-code-5,&.saiche-code-5 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/5.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-06,&.saiche-code-06,&.feiting-code-6,&.saiche-code-6 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/6.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-07,&.saiche-code-07,&.feiting-code-7,&.saiche-code-7 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/7.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-08,&.saiche-code-08,&.feiting-code-8,&.saiche-code-8 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/8.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-09,&.saiche-code-09,&.feiting-code-9,&.saiche-code-9 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/9.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.feiting-code-10,&.saiche-code-10,&.feiting-code-10,&.saiche-code-10 {
        border-radius: 5px;
        text-indent: -10000px;
        font-style: italic;
        background-image: url("../images/10.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.make-game-code() {
    // feiting code
    // @feiting-code-list:01,02,03,04,05,06,07,08,09,10;
    // .loop(feiting-code,@feiting-code-list,length(@feiting-code-list),red,true);
    // // saiche code
    // @saiche-code-list:01,02,03,04,05,06,07,08,09,10;
    // .loop(saiche-code,@saiche-code-list,length(@saiche-code-list),red,true);
    // kuaile code
    @kuaile-code-list:01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20;
    .loop(kuaile-code,@kuaile-code-list,length(@kuaile-code-list),red,true);
    // liuhecai code
    @red-code-list:01,02,07,08,12,13,18,19,23,24,29,30,34,35,40,45,46;
    @blue-code-list:03,04,09,10,14,15,20,25,26,31,36,37,41,42,47,48;
    @green-code-list:05,06,11,16,17,21,22,27,28,32,33,38,39,43,44,49;
    .loop_liuhe(liuhecai-code,@red-code-list,length(@red-code-list),#f2385a,~'../images/red_code.png');
    .loop_liuhe(liuhecai-code,@blue-code-list,length(@blue-code-list),#00b8ff,~'../images/blue_code.png');
    .loop_liuhe(liuhecai-code,@green-code-list,length(@green-code-list),#20d00b,~'../images/green_code.png');
    .loop_liuhe (@name,@list,@counter,@color,@bg_url,@random:false) when(@counter > 0) and (@random =  false){
        @var:extract(@list,@counter);
        &.@{name}-0@{var} when(@var<10) {
            width: 30px;
            height: 30px;
            color:#3e231f;
            font-weight: bold;
            text-align: left;
            text-indent: 6px;
            line-height: 30px;
            background-color: transparent;
            background-image: url(@bg_url);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            border:none;
            .box-shadow(none);
            &:before,&:after{
                content: "";
                display: none;
            }
        }
        &.@{name}-@{var} when(@var<10) {
            width: 30px;
            height: 30px;
            line-height: 30px;
            color:#3e231f;
            font-weight: bold;
            text-align: left;
            text-indent: 6px;
            background-color: transparent;
            background-image: url(@bg_url);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            border:none;
            .box-shadow(none);
            &.small-size {
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin-top: 8px;
                font-size: 12px;
            }
            &:before,&:after{
                content: "";
                display: none;
            }
        }
        &.@{name}-@{var} when(@var>=10) {
            width: 30px;
            height: 30px;
            color:#3e231f;
            font-weight: bold;
            text-align: left;
            text-indent: 6px;
            line-height: 30px;
            background-color: transparent;
            background-image: url(@bg_url);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            border:none;
            .box-shadow(none);
            &.small-size {
                width: 24px;
                height: 24px;
                margin-top: 8px !important;
                line-height: 24px;
                font-size: 12px;
            }
            &:before,&:after{
                content: "";
                display: none;
            }
        }
        .loop_liuhe(@name,@list,@counter - 1,@color,@bg_url,@random);
    }
    .loop (@name,@list,@counter,@color,@random:false) when(@counter > 0) and (@random =  true){
        @var:extract(@list,@counter);
        @divide: 360 / length(@list);
        @hue: @counter * @divide; 
        &.@{name}-0@{var} when(@var<10) {
            background-color: hsl(@hue,50%,50%);
        }
        &.@{name}-@{var} when(@var<10) {
            background-color: hsl(@hue,50%,50%);
        }
        &.@{name}-@{var} when(@var>=10) {
            background-color: hsl(@hue,50%,50%);
        }

        &.@{name}-0@{var} when(@var<10) and (@name = kuaile-code) {
            width: 28px;
            height: 28px;
            line-height:28px;
            background-color: hsl(@hue,50%,50%);
        }
        &.@{name}-@{var} when(@var<10) and (@name = kuaile-code) {
            background-color: hsl(@hue,50%,50%);
            width: 28px;
            height: 28px;
            line-height:28px;
        }
        &.@{name}-@{var} when(@var>=10) and (@name = kuaile-code) {
            background-color: hsl(@hue,50%,50%);
            width: 28px;
            height: 28px;
            line-height:28px;
        }
        .loop(@name,@list,@counter - 1,@color,@random);
    }

}
.game-section {
    margin-bottom: 5px;
    .game-section-header {
        // background-color: @brand-primary;
        background-color: fade(white, 60%);
        padding: 10px;
        // border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        font-weight: bold;
    }
    .game-section-content {
        overflow: hidden;
        // background-color: #e8c684;
        > div {
            position: relative;
            float: left;
            font-size: 13px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            // background-color: #e8c684;
            background-color: fade(white, 50%);
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            .box-sizing(border-box);
            &.layout-1 {
                width: 33.33%;
                height: 58px;
                padding: 5px 0;
                // border-left: 1px solid @brand-primary;
                // border-bottom: 1px solid @brand-primary;
                border-left: 1px solid fade(white, 50%);
                border-bottom: 1px solid fade(white, 50%);
                &:nth-child(3n+1) {
                    border-left: 0;
                }
                >span:first-child {
                    display: block;
                    margin: 0 auto 5px;
                    font-weight: bold;
                }
                &.selected {
                    position: relative;
                    font-weight: bold;
                    color: white;
                    background-color: fade(black, 40%);
                    text-shadow: 0 0 0 rgba(255,255,255,.23);
                    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                }
            }
            &.layout-2 {
                height: 50px;
                width:33.33%;
                line-height: 50px;
                // border-left: 1px solid @brand-primary;
                // border-bottom: 1px solid @brand-primary;
                border-left: 1px solid fade(white, 50%);
                border-bottom: 1px solid fade(white, 50%);
                span:first-child {
                    font-weight: bold;
                }
                .text-danger {
                    font-weight: bold;
                    font-size: 12px;
                }
                &:nth-child(3n+1) {
                    border-left: 0;
                }
                &.selected {
                    position: relative;
                    font-weight: bold;
                    color: white;
                    background-color: fade(black, 40%);
                    text-shadow: 0 0 0 rgba(255,255,255,.23);
                    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                    // >span:first-child{
                    //     position: absolute;
                    //     left: 2px;
                    //     top: -14px;
                    // }
                    // >span:nth-child(2){
                    //     position: absolute;
                    //     left: 2px;
                    //     bottom: -14px;
                    // }
                }
            }
            &.layout-21 {
                height: 40px;
                width:33.33%;
                line-height: 20px;
                // border-left: 1px solid @brand-primary;
                // border-bottom: 1px solid @brand-primary;
                border-left: 1px solid fade(white, 50%);
                border-bottom: 1px solid fade(white, 50%);
                span:first-child {
                    font-weight: bold;
                }
                .text-danger {
                    font-weight: bold;
                    font-size: 12px;
                }
                &:nth-child(3n+1) {
                    border-left: 0;
                }
                &.selected {
                    position: relative;
                    font-weight: bold;
                    color: white;
                    background-color: fade(black, 40%);
                    text-shadow: 0 0 0 rgba(255,255,255,.23);
                    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                    >span:first-child{
                        position: absolute;
                        left: 2px;
                        top: -14px;
                    }
                    >span:nth-child(2){
                        position: absolute;
                        left: 2px;
                        bottom: -14px;
                    }
                }
            }
            &.layout-3 {
                width:100%;
                padding:5px;
                // border-bottom: 1px solid @brand-primary;
                border-bottom: 1px solid fade(white, 50%);
                text-align: left;
                >div {
                    white-space: normal;
                }
                span:first-child {
                    font-weight: bold;
                }
                .game-code {
                    margin: 5px 2px;
                }
                &.selected {
                    position: relative;
                    font-weight: bold;
                    color: white;
                    background-color: fade(black, 40%);
                    text-shadow: 0 0 0 rgba(255,255,255,.23);
                    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                }
            }
            &.layout-4 {
                width:50%;
                height: 65px;
                padding: 5px;
                // border-left: 1px solid @brand-primary;
                // border-bottom: 1px solid @brand-primary;
                border-left: 1px solid fade(white, 50%);
                border-bottom: 1px solid fade(white, 50%);
                .game-code {
                    margin: 5px 2px;
                }
                span:first-child {
                    font-weight: bold;
                }
                &:nth-child(2n+1) {
                    border-left: 0;
                }
                &.selected {
                    position: relative;
                    font-weight: bold;
                    color: white;
                    background-color: fade(black, 40%);
                    text-shadow: 0 0 0 rgba(255,255,255,.23);
                    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                }
            }
            &.layout-5 {
                width: 100%;
                padding-right: 8px;
                overflow: hidden;
                line-height: 3.5;
                // background-color: #e8c684;
                // border-bottom: 1px solid #d6b577;
                border-bottom: 1px solid fade(white, 50%);
                .remove-icon {
                    float: left;
                    // background-color: #d0b176;
                    background-color: fade(white, 50%);
                    width: 50px;
                    margin-right: 15px;
                    &:before {
                        content:"\f00d";
                        display: inline-block;
                        font-family: FontAwesome;
                    }
                }
                .betting-number {
                    float: left;
                }
                .betting-money {
                    float: right;
                    input {
                        .reset-input;
                        width: 50px;
                        padding: 0 8px;
                        line-height: 2.5;
                        // background-color: #d6b577;
                        background-color: fade(white, 50%);
                    }
                }
            }
            &.layout-6 {  
                // border-top: 10px solid transparent;
                .title {
                    padding: 5px;
                }
                .line {
                    display: block;
                    height: 1px;
                    // background-color: #d6b577;
                    background-color: fade(white, 50%);
                }
                .code-item {
                    float: left;
                    width: 20%;
                    padding-top: 5px;
                    // border-left: 1px solid @brand-primary;
                    // border-bottom: 1px solid @brand-primary;
                    border-left: 1px solid fade(white, 50%);
                    border-bottom: 1px solid fade(white, 50%);
                    .box-sizing(border-box);
                    &.check {
                        position: relative;
                        font-weight: bold;
                        color: white;
                        background-color: fade(black, 40%);
                        text-shadow: 0 0 0 rgba(255,255,255,.23);
                        box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
                    }
                    &:last-child {
                        border-right: 1px solid fade(white, 50%);
                    }
                } 
            }
        }
    }
    .buy-btn {
        display: block;
        padding: 10px;
        margin-top: 5px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        background-color: @brand-primary;
    }
}

.trend-line {
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        // background-color: #3e231f;
        // background-color: fade(white, 50%);
    }
    span {
        position: relative;
        z-index: 1;
        padding: 5px;
        // background-color: #634239;
        // background-color: white;
    }
}

.waiting {
    padding:10px;
    color:white;
    border-radius: 5px;
    // background-color:#f2385a;
    background-color: fade(@brand-primary, 50%);
    // opacity: 0.5;
}
.opacity_05 {
    opacity: 0.5;
}
.trend-list {
    // background-color: @brand-primary;
    background-color: fade(white, 50%);
    border-radius: 5px;
    .trend-time {
        font-weight: bold;
        font-size: 12px;
        display: block;
    }
    .trend-item-header {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid fade(black, 20%);
        font-size: 12px;
        background-color: fade(white, 6%);
    }
    .trend-item-content {
        padding: 8px 5px;
        font-size: 12px;
        border-bottom: 1px solid fade(black, 20%);
        vertical-align: middle;
        text-align: center;
        .liuhecai-cell {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            line-height: 0.7;
        }
    }
    @media (min-width: 360px) {
        .trend-item-content {
            font-size: 14px;
            padding: 8px;
        }
    }
}

.address-section {
    .address-title {
        padding: 15px;
        border-bottom: 1px solid fade(black, 10%);
        background-color: fade(black, 6%);
    }
    .game-select {
        position: relative;
        border-bottom: 1px solid fade(black, 10%);
        &:before {
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            right: 8px;
            top: 15px;
        }
        select {
            width: 100%;
            padding: 15px;
            -webkit-appearance: none;
            border: none;
            .box-shadow(none);
            .box-sizing(border-box);
        }
    }
    .game-input {
        border-bottom: 1px solid fade(black, 10%);
        input {
            width: 100%;
            padding: 15px;
            -webkit-appearance: none;
            border: none;
            .box-shadow(none);
            .box-sizing(border-box);
        }
    }
    .two-grid >* {
        margin-bottom: 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(black, 50%);
    z-index: 1000;
}
.popup {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 80%;
    padding: 15px;
    margin: auto auto;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    .title {
        font-size: 24px;
    }
    .close {
        position: absolute;
        right: -17px;
        top: -17px;
        display: block;
        width: 35px;
        height: 35px;
        background-image: url("../images/close.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
    }
    input {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 15px 0;
        .box-sizing(border-box);
        -webkit-appearance: none;
        text-align: center;
        background-color: #f7f7f7;
        border: 1px solid fade(black, 10%);
    }
    button {
        display: block;
        width: 100%;
        padding: 15px;
        .box-sizing(border-box);
        .box-shadow(none);
        border: none;
        -webkit-appearance: none;
        border-radius: 5px;
        color: white;
        // background-color: #634239;
        background-color: @brand-primary;
    }
}

.order-popup {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto auto;
    border-radius: 5px;
    // background-color: @brand-primary;
    background-color: fade(white, 90%);
    .order-popup-header {
        padding: 15px;
        text-align: center;
        color: white;
        background-color: #5f9bc7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .order-popup-item {
        padding:10px;
        border-bottom: 1px solid fade(black, 20%);
        .left {
            float: left;
            width:85px;
        }
    }
    .close {
        position: absolute;
        right: -17px;
        top: -17px;
        display: block;
        width: 35px;
        height: 35px;
        background-image: url("../images/close.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
    }
}
.game-list-input {
    // width: 50%;
    input {
        width: 100%;
        position: relative;
        // top: -10px;
        padding: 10px;
        -webkit-appearance: none;
        border: none;
        border: none;
        background-color: transparent;
        .box-shadow(none);
        .box-sizing(border-box);
        // text-align: right;
        &:focus {
            outline: 0;
        }
    }
}

.bill-table {
    font-size: 12px;
    // background-color: @brand-primary;
    background-color: fade(white, 50%);
    text-align: center;
    .table-header {
        overflow: hidden;
        // background-color: #cda462;
    }
    .table-cell {
        float: left;
        width: 25%;
        min-height: 100%;
        padding: 5px;
        border-right: 1px solid fade(white, 50%);
        border-bottom: 1px solid fade(white, 50%);
        .box-sizing(border-box);
        &:last-child {
            border-right: 0;
        }
    }
    .table-row {
        height: 42px;
        overflow: hidden;
    }
}

.recommandors {
    font-size: 12px;
    text-align: center;
    // background-color: @brand-primary;
    // background-color: fade(white, 50%);
    .recommandor-header {
        overflow: hidden;
        // background-color: #cda462;
        border-top: 1px solid fade(white, 50%);
        .justified;
    }
    .recommandor-cell {
        float: left;
        width: 50%;
        padding: 10px 5px;
        border-right: 1px solid fade(white, 50%);
        border-bottom: 1px solid fade(white, 50%);
        .box-sizing(border-box);
        &:last-child {
            border-right: 0;
        }
    }
    .recommandor-row {
        overflow: hidden;
        .justified;
    }
}
.payment-qrcode {
    font-size: 0px;
    text-align: justify;
    > * {
        width: 50%;
        float: left;
        padding: 5px;
        // margin-bottom: 15px;
        text-align: left;
        .box-sizing(border-box);
        font-size: 16px;
        color: #3e231f;
    }
    &:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
    .product-meta {
        padding: 5px;
        span:first-child {
            margin-bottom: 5px;
        }
    }
    .qrcode {
        margin: auto auto;
    }
}

.image-group {
    margin: -8px -8px 0 -8px;
    border-radius: 5px;
    overflow: hidden;
    // background-color: #d6b577;
    background-color: fade(white, 50%);
    .image-group-item {
        display: block;
        border-bottom: 1px solid fade(#42241f, 20%);
        overflow: hidden;
        .image {
            float: left;
            width: 90px;
        }
        .summary {
            height: 90px; 
            overflow: hidden;
            text-indent: 10px;
            .title {
                padding: 15px 0;
                font-size: 20px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            .post-time {
                color:fade(black, 50%);
            }
        }
    }
}

iframe {
    position: absolute;
    top:48px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
iframe p {
    margin: 0 0 15px 0;
}

// ng view transition
.page {
    // position:absolute; 
    // bottom:0; 
    // top:0;
    // left: 0;
    // right: 0;
    // width:100%;
    // z-index: 1;
    // overflow: auto;
    height: 100%;
    width:100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // transform: translate3d(0, 0, 0);
}

/* ANIMATIONS
============================================================================= */


/* slide in from the bottom */
@keyframes slideOutLeft {
    from {}
    to      { transform: translateX(-100%) scale(0.95); opacity: 0.9; }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}


.page.ng-enter           { animation: slideInRight 0.1s 0.2s both ease-in; z-index: 9999; .box-shadow(-1px 0 5px fade(black,10%))}
.page.ng-leave           { animation: slideOutLeft 0.3s both ease-in; z-index: 8888; }